annotated-types==0.6.0
anyio==3.7.1
blinker==1.7.0
certifi==2023.7.22
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
Deprecated==1.2.14
dimod==0.12.13
distro==1.8.0
dwave-neal==0.6.0
dwave-samplers==1.2.0
exceptiongroup==1.2.0
flask==3.0.0
gunicorn==21.2.0
h11==0.14.0
httpcore==1.0.2
httpx==0.25.2
idna==3.4
importlib-metadata==6.8.0
itsdangerous==2.1.2
jij-cimod==1.6.0
Jinja2==3.1.2
MarkupSafe==2.1.3
mpmath==1.3.0
networkx==3.1
numpy==1.23.5
openai==1.3.5
openjij==0.9.0
packaging==23.2
pandas==2.0.3
pydantic==2.5.2
pydantic-core==2.14.5
pyqubo==1.4.0
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.31.0
scipy==1.10.1
six==1.16.0
sniffio==1.3.0
sympy==1.12
tqdm==4.66.1
typing-extensions==4.8.0
tytan @ git+https://github.com/tytansdk/tytan@145ee8386606d06915532f1878f4dc8bf6d76d2c
tzdata==2023.3
ulid-py==1.1.0
urllib3==2.1.0
werkzeug==3.0.1
wrapt==1.16.0
zipp==3.17.0
