<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>トラベルプランナー</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  </head>
  <body>
    <div class="card card-body">
      <form id="radioForm">
        <div class="row">
          <div class="col-3">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="radio" value="5" id="radio1" onchange="chg_cb();" checked>
              <label class="form-check-label" for="radio1">交通機関</label>
            </div>
          </div>
          <div class="col-3">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="radio" value="2" id="radio2" onchange="chg_cb();">
              <label class="form-check-label" for="radio2">車・バイク</label>
            </div>
          </div>
          <div class="col-3">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="radio" value="5" id="radio3" onchange="chg_cb();">
              <label class="form-check-label" for="radio3">自転車</label>
            </div>
          </div>
          <div class="col-3">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="radio" value="15" id="radio4" onchange="chg_cb();">
              <label class="form-check-label" for="radio4">徒歩</label>
            </div>
          </div>  
        </form>
        <div class="col-6">
          <div class="form-group">
            <label for="sel01">出発地:</label>
            <select id="sel01" class="custom-select">
              <option disabled>京都駅(選択不可)</option>
              <option>京都東急ホテル</option>
            </select>
          </div>

          経由地
          <!--div class="form-check">
            <input class="form-check-input" type="checkbox" id="chk01" onchange="chg_cb();">
            <label class="form-check-label" for="chk01">Check A</label>
          </div-->
          <div id="areas"></div>

          <div class="form-group">
            <label for="sel02">到着地:</label>
            <select id="sel02" class="custom-select">
              <option>京都駅</option>
              <option disabled>京都東急ホテル(選択不可)</option>
            </select>
          </div>

        </div>
        <div class="col-6">
          おすすめのコース
          <div id="selareas"></div>
        </div>
      </div>      
      <div id="map" style="width:100%; height:500px"></div>
      <div class="form-group">
        <label for="around">周辺情報:</label>
        <textarea id="around" class="form-control" readonly></textarea>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkKwAg0EFYgA4TREhvpQt5CB0WIShw-gQ&libraries=places&callback=initMap&v=weekly"
      defer
    ></script>
    <script>
      var _map = null;
      var _flightPath = null;
      var _latLng = null;
      
      function initMap() {
        _map = new google.maps.Map(document.getElementById("map"), {
          zoom: 12,
          center: { lat: 34.9875936, lng: 135.7567649 },
          mapTypeId: "terrain",
        });
        google.maps.event.addListener(_map, 'click', click_map);
      }
      window.initMap = initMap;

      var _areas = [
        ["京都東急ホテル", 0, [34.9951359, 135.7490678], [0, 6.1, 2.1, 1.5, 3.1, 8.7, 4.7, 6.9, 2.3, 6.6, 1.5]],
        ["金閣寺", 90, [35.0393744, 135.7266682], [6.1, 0, 7.3, 7.5, 8.6, 7.9, 10.7, 6.7, 4.3, 3.2, 7.5]],
        ["東寺", 60, [34.9802498, 135.7475844], [2.1, 7.3, 0, 1.5, 4.4, 9.3, 3.4, 8.4, 3.8, 8.2, 1]],
        ["京都タワー", 60, [34.9875936, 135.7567649], [1.5, 7.5, 1.5, 0, 2.9, 9.8, 3.2, 6.9, 3.5, 6.7, 0.1]],
        ["清水寺", 120, [34.9946706,135.7820861], [3.1, 8.6, 4.4, 2.9, 0, 11.4, 4, 5, 4.6, 6.5, 2.8]],
        ["嵐山", 120, [35.0168187, 135.6713013], [8.7, 7.9, 9.3, 9.8, 11.4, 0, 12.5, 13, 8, 11, 9.9]],
        ["伏見稲荷", 60, [34.9699515, 135.7709048], [4.7, 10.7, 3.4, 3.2, 4, 12.5, 0, 8.1, 6.7, 9.3, 2.8]],
        ["銀閣寺", 60, [35.0272541, 135.7945173], [6.9, 6.7, 8.4, 6.9, 5, 13, 8.1, 0, 5.6, 4.3, 6.8]],
        ["二条城", 60, [35.0138344, 135.7434714], [2.3, 4.3, 3.8, 3.5, 4.6, 8, 6.7, 5.6, 0, 4.4, 3.6]],
        ["京都府立植物園", 120, [35.0487413, 135.7601605], [6.6, 3.2, 8.2, 6.7, 6.5, 11, 9.3, 4.3, 4.4, 0, 6.7]],
        ["京都駅", 0, [34.9858534, 135.7561971], [1.5, 7.5, 1, 0.1, 2.8, 9.9, 2.8, 6.8, 3.6, 6.7, 0]],
      ];
      const elm_areas = document.getElementById("areas");
      const elm_selareas = document.getElementById("selareas");
      const elm_radio = document.getElementById('radioForm');
      const elm_around = document.getElementById('around');

      function areaname(i) {
        return _areas[i][0];
      }
      function areatime(i) {
        return _areas[i][1];
      }

      // コースの１行を表示
      function printrow(txt) {
        elm_form_check = document.createElement("div");
        elm_form_check.className = "form-check";

        elm_form_check_label = document.createElement("label");
        elm_form_check_label.textContent = txt;

        elm_form_check.appendChild(elm_form_check_label);
        elm_selareas.appendChild(elm_form_check);
      }

      // コースを表示
      function printroute(ret) {
        if (ret['details'].length == 0) {
          printrow("エラー");
          return;
        }
        var val = elm_radio.elements['radio'].value;
        var lastname = "";
        for (var r of ret['details']) {
          console.log();
          if (areatime(r['from'])) {
            printrow(areaname(r['from']) + '(' + areatime(r['from']) + '分)')
          } else {
            printrow(areaname(r['from']))
          }
          console.log();
          printrow(areaname(r['from']) + '～' + areaname(r['to']) + '(' + Math.floor(r['distance'] * val) + '分)')
          lastname = areaname(r['to']);
        }
        //console.log(lastname);
        printrow(lastname);
      }

      // コースを地図上に表示
      function displayroute(ret) {
        coordinates = [];
        for (var r of ret['route']) {
          pos = _areas[r][2];
          coordinates.push({lat: _areas[r][2][0], lng: _areas[r][2][1]});
        }
        if (_flightPath) {
          _flightPath.setMap(null);
          _flightPath = null;
        }
        if (coordinates.length > 1) {
          _flightPath = new google.maps.Polyline({
            path: coordinates,
            geodesic: true,
            strokeColor: "#FF0000",
            strokeOpacity: 1.0,
            strokeWeight: 2,
          });
          _flightPath.setMap(_map);
        }
      }

      // チェックボックスをチェックしたら
      function chg_cb() {
        // 消す
        while (elm_selareas.firstChild) {
          elm_selareas.removeChild(elm_selareas.firstChild);
        }
        indexs = []
        table = []
        for (var i = 0; i < _areas.length; i++) {
          // 全テーブル作成
          table.push(_areas[i][3]);
          //　削除する番号リスト作成
          if (i == 0) {
            continue;
          }
//          if (i == _areas.length - 1) {
//            indexs.push(i);
//            break;
//          }
          elmx_cb = document.getElementById("area" + i);
          if (elmx_cb && !elmx_cb.checked) {
            indexs.push(i);
          }
        }
        if (indexs.length >= _areas.length - 1) {
          return;
        }
        const obj = {indexs: indexs, table: table};
        const method = "POST";
        const body = JSON.stringify(obj);
        const headers = {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        };
        fetch("/api", {method, headers, body})
          .then(function (response) {
            return response.json();
          }).then(function (myjson) {
            console.log(myjson);
            ret = {
              'route': [0, 2, 4, 3, 1, 0],
              'details': [
                {'from': 0, 'to': 2, 'distance': 20},
                {'from': 2, 'to': 4, 'distance': 20},
                {'from': 4, 'to': 3, 'distance': 10},
                {'from': 3, 'to': 1, 'distance': 30},
                {'from': 1, 'to': 0, 'distance': 30}
              ]
            };
            if ('details' in myjson) {
              printroute(myjson);
              displayroute(myjson);
            } else {
              printrow("エラー");
            }
          });
      }

      function click_map(event) {
        //alert(event.latLng.toString());
        var request = {
          location: event.latLng,
          radius: '500',
          type: ['tourist_attraction']
        };
        _latLng = event.latLng;
        service = new google.maps.places.PlacesService(_map);
        service.nearbySearch(request, callback);
      }

      // https://developers-jp.googleblog.com/2019/12/how-calculate-distances-map-maps-javascript-api.html
      function distance(p1, p2) {
        var R = 6371.0710;
        var rlat1 = p1.lat() * (Math.PI/180);
        var rlat2 = p2.lat() * (Math.PI/180);
        var difflat = rlat2-rlat1;
        var difflon = (p2.lng()-p1.lng()) 
                    * (Math.PI/180);

        var d = 2 * R 
        * Math.asin(Math.sqrt(Math.sin(difflat / 2) * Math.sin(difflat / 2)
        + Math.cos(rlat1) * Math.cos(rlat2)
        * Math.sin(difflon / 2) * Math.sin(difflon / 2)));
        return d;
      }

      // 指定近くの観光地リストが返る
      function callback(results, status) {
        if (status == google.maps.places.PlacesServiceStatus.OK) {
          if (results.length) {
            var d = distance(_latLng, results[0]['geometry']['location']);
            console.log(results[0].name + ' ' + d + 'km');
            elm_around.value = results[0].name + '（ここから ' + (Math.round(d * 10) / 10) + 'km）'

            const obj = {name: results[0].name, distance: d};
            fetch("/guida?name=" + results[0].name + "&distance=" + d)
              .then(function (response) {
                return response.json();
              }).then(function (myjson) {
                console.log(myjson);
                elm_around.value = results[0].name + '（ここから ' + (Math.round(d * 10) / 10) + 'km）\n' + myjson['text']

                var msg = new SpeechSynthesisUtterance(myjson['text']);
                window.speechSynthesis.speak(msg);
              });
          }
        }
      }



      function click_map11(event) {

        const obj = {lat: event.latLng.lat(), lng: event.latLng.lng()};
        const method = "GET";
        const body = JSON.stringify(obj);
        const headers = {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        };
        fetch("/guida", {method, headers, body})
          .then(function (response) {
            return response.json();
          }).then(function (myjson) {
            console.log(myjson);
            elm_around.value = myjson['text']
          });
      }

      function chg_cb1() {
        coordinates = [];
        tbl = [];
        // 消す
        while( elm_selareas.firstChild ){
          elm_selareas.removeChild(elm_selareas.firstChild);
        }
        for (var i = 0; i < _areas.length; i++) {
          elmx_cb = document.getElementById("area" + i);
          if (!elmx_cb.checked) {
            continue;
          }
          elm_form_check = document.createElement("div");
          elm_form_check.className = "form-check";

          elm_form_check_input = document.createElement("input");
          elm_form_check_input.className = "form-check-input";
          elm_form_check_input.type = "checkbox";
          elm_form_check_input.setAttribute('id', "area" + i);
          elm_form_check_input.onchange = chg_cb;

          elm_form_check_label = document.createElement("label");
          elm_form_check_label.className = "form-check-label";
          elm_form_check_label.htmlFor = "area" + i;
          elm_form_check_label.textContent = _areas[i][0];

          //elm_form_check.appendChild(elm_form_check_input);
          elm_form_check.appendChild(elm_form_check_label);
          elm_selareas.appendChild(elm_form_check);

          coordinates.push({lat: _areas[i][2][0], lng: _areas[i][2][1]});
          tbl.push(_areas[i][3])
        }
        // 量子コンピュータに渡す表を作成
        for (var i = 0; i < _areas.length; i++) {
          elmx_cb = document.getElementById("area" + i);
          if (!elmx_cb.checked) {
            continue;
          }
        }
        // 地図にルートを描画
        if (coordinates.length > 1) {
          _flightPath.setMap(null);
          _flightPath = null;
          _flightPath = new google.maps.Polyline({
            path: coordinates,
            geodesic: true,
            strokeColor: "#FF0000",
            strokeOpacity: 1.0,
            strokeWeight: 2,
          });
          _flightPath.setMap(_map);
        }
      }

      for (var i = 0; i < _areas.length; i++) {
        if (i == 0 || i == _areas.length - 1) {
          continue;
        }
        elm_form_check = document.createElement("div");
        elm_form_check.className = "form-check";

        elm_form_check_input = document.createElement("input");
        elm_form_check_input.className = "form-check-input";
        elm_form_check_input.type = "checkbox";
        elm_form_check_input.setAttribute('id', "area" + i);
        elm_form_check_input.onchange = chg_cb;

        elm_form_check_label = document.createElement("label");
        elm_form_check_label.className = "form-check-label";
        elm_form_check_label.htmlFor = "area" + i;
        elm_form_check_label.textContent = _areas[i][0] + "(" + _areas[i][1] + "分)";

        elm_form_check.appendChild(elm_form_check_input);
        elm_form_check.appendChild(elm_form_check_label);
        elm_areas.appendChild(elm_form_check);
      }

    </script>
  </body>
</html>
