<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Qompass</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <style>
      .rate-form {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
      }
      .rate-form input[type=radio] {
        display: none;
      }
      .rate-form label {
        position: relative;
        padding: 0 1px;
        color: #ccc;
        cursor: pointer;
        font-size: 18px;
      }
      .rate-form label:hover {
        color: #ffcc00;
      }
      .rate-form label:hover ~ label {
        color: #ff0000;
      }
      .rate-form input[type=radio]:checked ~ label {
        color: #ff0000;
      }
    </style>
  </head>
  <body>
    <div class="card card-body">
      <div>
        <!--button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal1">
          Launch demo modal
        </button-->
        <div class="modal fade" id="modal1" tabindex="-1"
              role="dialog" aria-labelledby="label1" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="dlg-ttl">案内</h5>
              </div>
              <div id="dlg-msg" class="modal-body">
                ないよう
              </div>
              <center id="dlg-img"></center>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="diagmsg('','', null);">OK</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button type="button" class="btn btn-light btn-block" onclick="get_position();">現在地設定</button>
          </div>
        </div>

        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="item1-tab" data-toggle="tab" href="#item1" role="tab" aria-controls="item1" aria-selected="true">観光地</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="item2-tab" data-toggle="tab" href="#item2" role="tab" aria-controls="item2" aria-selected="false">駅</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="item3-tab" data-toggle="tab" href="#item3" role="tab" aria-controls="item3" aria-selected="false">宿泊</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade show active" id="item1" role="tabpanel" aria-labelledby="item1-tab">
            <div class="form-row" style="font-size: small">
              <div class="col-8">
                <div class="form-check">
                  <label class="form-check-label">経由地</label>
                </div>
              </div>
              <label class="col-2">滞在時間</label>
              <label class="col-2">優先度</label>
            </div>
            <div id="areas1" class="form-row"></div>
          </div>
          <div class="tab-pane fade" id="item2" role="tabpanel" aria-labelledby="item2-tab">
            <div class="form-row" style="font-size: small">
              <div class="col-8">
                <div class="form-check">
                  <label class="form-check-label">経由地</label>
                </div>
              </div>
              <label class="col-2">滞在時間</label>
              <label class="col-2">優先度(1-3)</label>
            </div>
            <div id="areas2" class="form-row"></div>
          </div>
          <div class="tab-pane fade" id="item3" role="tabpanel" aria-labelledby="item3-tab">
            <div class="form-row" style="font-size: small">
              <div class="col-8">
                <div class="form-check">
                  <label class="form-check-label">経由地</label>
                </div>
              </div>
              <label class="col-2">滞在時間</label>
              <label class="col-2">優先度(1-3)</label>
            </div>
            <div id="areas3" class="form-row"></div>
          </div>
        </div>

        <div class="form-group">
          <label for="arrival">到着地:</label>
          <select id="arrival" class="custom-select"></select>
        </div>

        <div class="form-row">
          <div class="col-3">
            <label class="form-check-label">到着期限</label>
          </div>
          <div class="col-2">
            <input class="form-control form-control-sm" type="number" id="hh" min="0" max="23" maxlength="2" style="text-align:right">
          </div>
          ：
          <div class="col-2">
            <input class="form-control form-control-sm" type="number" id="mm" min="0" max="59" maxlength="2" style="text-align:right">
          </div>
        </div>

        <div class="form-row">
          <div class="col-3">
            <label class="form-check-label">予算</label>
          </div>
          <div class="col-4">
            <input class="form-control form-control-sm" type="number" id="price" value="0" maxlength="6" style="text-align:right">
          </div>
        </div>
        
        <p>
          <button id="calc-button" type="button" class="btn btn-primary btn-block" onclick="chg_cb();">
            <span id="calc-spinner" class="spinner-border spinner-border-sm" hidden="hidden"></span>
            ルート計算
          </button>
        </p>

        <div class="col-12">
          おすすめのコース
          <div id="selareas"></div>
        </div>
      </div>      
      <div id="map" style="width:100%; height:500px"></div>
      <div class="form-group">
        <label for="around">周辺情報:</label>
        <textarea id="around" class="form-control" readonly></textarea>
        <br />
        <button type="button" class="btn btn-primary btn-block" onclick="guidance();">周辺情報の音声案内</button>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLEMAP_KEY }}&libraries=places&callback=initMap&v=weekly"
      defer
    ></script>
    <script>
      var _map = null;
      var _flightPath = null;
      var _latLng = null;
      
      function initMap() {
        _map = new google.maps.Map(document.getElementById("map"), {
          zoom: 12,
          center: { lat: 34.9875936, lng: 135.7567649 },
          mapTypeId: "terrain",
        });
        google.maps.event.addListener(_map, 'click', click_map);
      }
      window.initMap = initMap;
      var _areas = {};
      const elm_areas1 = document.getElementById("areas1");
      const elm_areas2 = document.getElementById("areas2");
      const elm_areas3 = document.getElementById("areas3");
      const elm_selareas = document.getElementById("selareas");
      const elm_radio = document.getElementById('radioForm');
      const elm_around = document.getElementById('around');
      const elm_arrival = document.getElementById('arrival');
      const elm_dlg_ttl = document.getElementById('dlg-ttl');
      const elm_dlg_msg = document.getElementById('dlg-msg');
      const elm_dlg_img = document.getElementById('dlg-img');
      const elm_calc_button = document.getElementById('calc-button');
      const elm_calc_spinner = document.getElementById('calc-spinner');
      let limit = new Date();
      limit.setMinutes(limit.getMinutes() + 60 * 3);

      // ダイアログのメッセージ消去
      function diagmsg(ttl, msg, img_url) {
        elm_dlg_ttl.innerText = ttl;
        elm_dlg_msg.innerText = msg;
        if (img_url) {
          elm_dlg_img.innerText = null;
          elm_img = document.createElement("img");
          elm_img.src = img_url;
          elm_img.setAttribute('width', "90%");
          elm_dlg_img.appendChild(elm_img);
        } else {
          elm_dlg_img.innerText = null;
        }
      }

      // 実行中のスピナー表示
      function executing(f) {
        if (f) {
          elm_calc_spinner.hidden = null;
          elm_calc_button.disabled = "disabled";
        } else {
          elm_calc_spinner.hidden = "hidden";
          elm_calc_button.disabled = null;
        }
      }

      function areaname(i, areas) {
        return areas[i][0];
      }
      function areatime(i, areas) {
        return areas[i][1];
      }
      function areaprice(i, areas) {
        return areas[i][3];
      }

      // コースの１行を表示
      function printrow(txt) {
        elm_form_check = document.createElement("div");
        elm_form_check.className = "form-check";
        elm_form_check_label = document.createElement("label");
        elm_form_check_label.textContent = txt;
        elm_form_check.appendChild(elm_form_check_label);
        elm_selareas.appendChild(elm_form_check);
      }
      async function routedetail(r, areas) {
        var start = "";
        var startName = "";
        var goal = "";
        var goalName = "";
        for (var i = 0; i < areas.length; i++) {
          if (areaname(r['from'], areas) == areas[i][0]) {
            start = areas[i][2];
            startName = areas[i][0];
          }
          if (areaname(r['to'], areas) == areas[i][0]) {
            goal = areas[i][2];
            goalName = areas[i][0];
          }
        }
        const res = await fetch("/route?start=" + start + "&goal=" + goal);
        //console.log(a); // => Response
        const ret = await res.json();
        msg = ret.route;
        msg = msg.replace('start', startName);
        msg = msg.replace('goal', goalName);
        if (ret.fare) {
          msg += '\n料金　' + ret.fare + '円';
        }
        //alert(msg);
        diagmsg('ルート案内', msg, null)
      }
      // コースの１行をボタン表示
      function printrowbutton(r, areas) {
        var txt = areaname(r['from'], areas) + '～' + areaname(r['to'], areas) + '(' + r['time'] + '分)';
        elm_form_check = document.createElement("div");
        elm_form_check.className = "form-check";
        elm_form_check_button = document.createElement("button");
        elm_form_check_button.type = "button";
        elm_form_check_button.className = "btn btn-light btn-block";
        //elm_form_check_button.style.textAlign = "left";
        elm_form_check_button.setAttribute('style', 'text-align: left;margin-bottom: 2px;padding-top: 1px;padding-bottom: 1px;margin-top: 2px;');
        elm_form_check_button.textContent = txt;
        elm_form_check_button.onclick = function() { routedetail(r, areas); };
        elm_form_check_button.type = "button";
        elm_form_check_button.setAttribute('data-toggle', 'modal');
        elm_form_check_button.setAttribute('data-target', '#modal1');
        elm_form_check.appendChild(elm_form_check_button);
        elm_selareas.appendChild(elm_form_check);
      }

      function strTime(date) {
        var hour_str = date.getHours();
        var minute_str = date.getMinutes();
        hour_str = ('0' + hour_str).slice(-2);
        minute_str = ('0' + minute_str).slice(-2);
        return hour_str + ":" + minute_str;
      };

      // 時間、料金の計算
      function calcroute(ret, areas) {
        if (ret['details'].length == 0) {
          printrow("エラー");
          return;
        }
        let date = new Date();
        var prices = 0;
        for (var r of ret['details']) {
          //++i;
          time1 = strTime(date)
          date.setMinutes(date.getMinutes() + Number(areatime(r['from'], areas)));
          time2 = strTime(date)
          date.setMinutes(date.getMinutes() + r['time']);
          console.log('料金', areaname(r['to'], areas), areaprice(r['to'], areas));
          prices += areaprice(r['to'], areas);
        }
        return [date, prices];
      }

      // コースを表示
      function printroute(ret, areas) {
        if (ret['details'].length == 0) {
          printrow("エラー");
          return;
        }
        //var val = elm_radio.elements['radio'].value;
        let date = new Date();
        var lastname = "";
        var i = 0;
        for (var r of ret['details']) {
          ++i;
          if (i == 1) {
            printrow(areaname(r['from'], areas) + '　' + strTime(date) + '発');
          } else {
            time1 = strTime(date)
            date.setMinutes(date.getMinutes() + Number(areatime(r['from'], areas)));
            time2 = strTime(date)
            printrow(areaname(r['from'], areas) + '　' + time1 + '着　' + time2 + '発(滞在' + areatime(r['from'], areas) + '分)');
          }
          date.setMinutes(date.getMinutes() + r['time']);
          printrowbutton(r, areas);

          lastname = areaname(r['to'], areas);
        }
        //console.log(lastname);
        printrow(lastname + '　' + strTime(date) + '着');
      }

      // コースを地図上に表示
      function displayroute(ret, areas) {
        coordinates = [];
        for (var r of ret['route']) {
          coordinates.push({lat: areas[r][2][0], lng: areas[r][2][1]});
        }
        if (_flightPath) {
          _flightPath.setMap(null);
          _flightPath = null;
        }
        if (coordinates.length > 1) {
          _flightPath = new google.maps.Polyline({
            path: coordinates,
            geodesic: true,
            strokeColor: "#FF0000",
            strokeOpacity: 1.0,
            strokeWeight: 2,
          });
          _flightPath.setMap(_map);
        }
      }

      // ルート計算
      async function chg_cb() {
        executing(true);
        for (var level = 1; level <= 3; level++) {
          // 消す
          while (elm_selareas.firstChild) {
            elm_selareas.removeChild(elm_selareas.firstChild);
          }

          // areasに経由地の座標を入れる
          var areas = []                   // [['地点A',[34.99, 135.99]], ['地点A',[34.99, 135.99]]]
          // 地図の中心座標(現在地)を追加
          var latLng = _map.getCenter();
          console.log("現在地", [latLng.lat(), latLng.lng()]);
          areas.push(["現在地", 0, [latLng.lat(), latLng.lng()], 0]);
          // 選択している経由地を追加
          for (var i = 0; i < _areas.length; i++) {
            var elmx_cb = document.getElementById("area" + i);
            try {
              //var priority = document.getElementById("priority_val" + i).value;
              var form_rate = document.getElementById("rate" + i);
              var priority = form_rate.elements['rate'].value;
            } catch(e) {
              console.log(e);
            }
            
            if (elmx_cb.checked && priority >= level) {
              var elmx_val = document.getElementById("area_val" + i);
              console.log(_areas[i]["name"], _areas[i]["location"], priority);
              areas.push([_areas[i]["name"], elmx_val.value, [_areas[i]["location"]["lat"],_areas[i]["location"]["lng"]], _areas[i]["price"]]);
            }
          }
          // 選択している到着地を追加
          for (var i = 0; i < _areas.length; i++) {
            if (elm_arrival.value == _areas[i]["name"]) {
              console.log(_areas[i]["name"], _areas[i]["location"]);
              areas.push([_areas[i]["name"], _areas[i]["duration_of_stay"], [_areas[i]["location"]["lat"],_areas[i]["location"]["lng"]], _areas[i]["price"]]);
            }
          }

          // 表を作成
          // 初期化
          var table = [];
          for (var i = 0; i < areas.length; i++) {
            table[i] = [];
            for (var j = 0; j < areas.length; j++) {
              table[i][j] = 0;
            }
          }

          for (var i = 0; i < areas.length; i++) {
            for (var j = 1 + i; j < areas.length; j++) {
              //console.log(areas[i], areas[j]);
              const start = areas[i][2];
              //const startName = areas[i][0];
              const goal = areas[j][2];
              //const goalName = areas[j][0];
              //const res = await fetch("/route?start=" + start + "&startName=" + startName + "&goal=" + goal + "&goalName=" + goalName);
              const res = await fetch("/route?start=" + start + "&goal=" + goal);
              //console.log(a); // => Response
              const ret = await res.json();
              //console.log(ret.result); // => json
              table[i][j] = ret.time;
              table[j][i] = ret.time;
            }
          }
          // 確認用に表示
          for (var i = 0; i < areas.length; i++) {
            var str = "";
            for (var j = 0; j < areas.length; j++) {
              str = str + " " + table[j][i];
            }
            console.log(str);
          }
          /*
          var table = [
            [0 ,64, 43, 62, 9],
            [64, 0, 98, 94, 64],
            [43, 98, 0, 62, 44],
            [62, 94, 62, 0, 64],
            [9, 64, 44, 64, 0],
          ];*/
          const method = "POST";
          const headers = {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          };
          const body = JSON.stringify({table: table});
          const res = await fetch("/tsp", {method, headers, body});
          const myjson = await res.json();
          console.log(myjson);
          limit.setHours(document.getElementById("hh").value);
          limit.setMinutes(document.getElementById("mm").value);
          var price = document.getElementById("price").value
          price = price == 0 ? 999999 : price; 
          var calcdate = limit;
          var prices = 0;
          if ('details' in myjson) {
            console.log("成功")
            var ret = calcroute(myjson, areas);
            calcdate = ret[0];
            prices = ret[1];
          } else {
            printrow("エラー");
            break;
          }
          if (calcdate.getTime() <= limit.getTime() && prices <= price) {
            printroute(myjson, areas);
            displayroute(myjson, areas);
            break;
          }
          if (level == 3) {
            printroute(myjson, areas);
            displayroute(myjson, areas);
            var msg = "⚠ ";
            if (calcdate.getTime() > limit.getTime()) {
              msg += "時間";
              if (prices > price) {
                msg += "と予算";
              }
            } else {
              if (prices > price) {
                msg += "予算";
              }
            }
            printrow(msg + "オーバー");
          }        }
        executing(false);
      }

      // クリックした場所を地図の中心にする
      function click_map(event) {
        _map.setCenter(event.latLng);
      }

      // Google Place APIで観光地情報を取得する場合
      function guidance() {
        var latLng = _map.getCenter();             // 地図の中心座標を取得
        var request = {
          location: latLng,
          radius: '500',
          type: ['tourist_attraction']
        };
        _latLng = latLng;
        service = new google.maps.places.PlacesService(_map);
        service.nearbySearch(request, callback);
      }

      // https://developers-jp.googleblog.com/2019/12/how-calculate-distances-map-maps-javascript-api.html
      function distance(p1, p2) {
        var R = 6371.0710;
        var rlat1 = p1.lat() * (Math.PI/180);
        var rlat2 = p2.lat() * (Math.PI/180);
        var difflat = rlat2-rlat1;
        var difflon = (p2.lng()-p1.lng()) 
                    * (Math.PI/180);

        var d = 2 * R 
        * Math.asin(Math.sqrt(Math.sin(difflat / 2) * Math.sin(difflat / 2)
        + Math.cos(rlat1) * Math.cos(rlat2)
        * Math.sin(difflon / 2) * Math.sin(difflon / 2)));
        return d;
      }

      // 指定近くの観光地リストが返る
      function callback(results, status) {
        if (status == google.maps.places.PlacesServiceStatus.OK) {
          if (results.length) {
            var d = distance(_latLng, results[0]['geometry']['location']);
            console.log(results[0].name + ' ' + d + 'km');
            elm_around.value = results[0].name + '（ここから ' + (Math.round(d * 10) / 10) + 'km）'

            fetch("/guida?name=" + results[0].name + "&distance=" + d)
              .then(function (response) {
                return response.json();
              }).then(function (myjson) {
                console.log(myjson);
                elm_around.value = results[0].name + '（ここから ' + (Math.round(d * 10) / 10) + 'km）\n' + myjson['text']

                var msg = new SpeechSynthesisUtterance(myjson['text']);
                window.speechSynthesis.speak(msg);
              });
          }
        }
      }

      // ChatGPTで観光地情報を取得する場合（清水寺と金閣寺しか出てこない）
      function click_map2(event) {
        const obj = {lat: event.latLng.lat(), lng: event.latLng.lng()};
        const body = JSON.stringify(obj);
        const headers = {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        };
        fetch("/guida?lat=" + event.latLng.lat() + "&lng=" + event.latLng.lng())
          .then(function (response) {
            return response.json();
          }).then(function (myjson) {
            console.log(myjson);
            elm_around.value = myjson['text']
          });
      }

      function setLocation(pos) {
        lat = pos.coords.latitude;
        lon = pos.coords.longitude;
        latlon = new google.maps.LatLng(lat, lon);
        _map.setCenter(latlon);
      }

      function showErr(err) {
        switch(err.code) {
          case 1 : alert("位置情報の利用が許可されていません"); break;
          case 2 : alert("デバイスの位置が判定できません"); break;
          case 3 : alert("タイムアウトしました"); break;
          default : alert(err.message);
        }
      }
      // 位置情報を取得
      function get_position(event) {
        if ("geolocation" in navigator) {
          var opt = {
            "enableHighAccuracy": true,
            "timeout": 10000,
            "maximumAge": 0,
          };
          navigator.geolocation.getCurrentPosition(setLocation, showErr, opt);
        } else {
          alert("ブラウザが位置情報取得に対応していません");
        }
      }

      // 到着期限
      function setEndTime() {
        let date = new Date();
        var hh = 18;
        if (date.getHours() > 16) {
          hh = 23;
        }
        /*
        date.setMinutes(date.getMinutes() + 60 * 3);
        let strdate = strTime(date);
        let hh = strdate.slice(0, 2);
        document.getElementById("hh").value = hh - 0;
        let mm = strdate.slice(3, 5);
        document.getElementById("mm").value = mm - 0;
        */
        document.getElementById("hh").value = hh;
        document.getElementById("mm").value = 30;
      }

      function areadetail(val) {
        name = val;
        if (val.indexOf( '円）') != -1) {
          var idx = val.lastIndexOf( '（' );
          name = val.substr(0, idx);
        }
        for (area of _areas) {
          if (name == area["name"]) {
            diagmsg(area["name"], area["summary"], area["photo"])
            break;
          }
        }
      }

      fetch("/area")
        .then(function (response) {
          return response.json();
        }).then(function (myjson) {
          console.log(myjson);
          _areas = myjson;

          // 経由地を表示
          for (var i = 0; i < _areas.length; i++) {
            elm_div = document.createElement("div");
            elm_div.className = "col-8";

            elm_form_check = document.createElement("div");
            elm_form_check.className = "form-check";

            elm_form_check_check = document.createElement("input");
            elm_form_check_check.className = "form-check-input";
            elm_form_check_check.type = "checkbox";
            elm_form_check_check.setAttribute('id', "area" + i);
            //elm_form_check_input.onchange = chg_cb;

            //elm_form_check_label = document.createElement("label");
            //elm_form_check_label.className = "form-check-label";
            //elm_form_check_label.htmlFor = "area" + i;
            //elm_form_check_label.textContent = _areas[i][0];
            elm_form_check_label = document.createElement("button");
            elm_form_check_label.type = "button";
            elm_form_check_label.className = "btn btn-light btn-block";
            //elm_form_check_label.style.textAlign = "left";
            if (_areas[i]["price"] == 0) {
              elm_form_check_label.textContent = _areas[i]["name"];
            } else {
              elm_form_check_label.textContent = _areas[i]["name"] + '（' + _areas[i]["price"] + '円）' ;
            }
            elm_form_check_label.onclick = function(arg) {
              areadetail(arg.target.textContent)
            };
            elm_form_check_label.type = "button";
            elm_form_check_label.setAttribute('data-toggle', 'modal');
            elm_form_check_label.setAttribute('data-target', '#modal1');
            elm_form_check_label.setAttribute('style', 'text-align: left;margin-bottom: 2px;padding-top: 1px;padding-bottom: 1px;margin-top: 2px;');

            elm_form_check_input1 = document.createElement("input");
            elm_form_check_input1.className = "form-control form-control-sm col-2";
            elm_form_check_input1.setAttribute('style', 'text-align:right');
            elm_form_check_input1.type = "number";
            elm_form_check_input1.value = _areas[i]["duration_of_stay"];
            elm_form_check_input1.setAttribute('id', "area_val" + i);
/*
            elm_form_check_input2 = document.createElement("input");
            elm_form_check_input2.className = "form-control form-control-sm col-2";
            elm_form_check_input2.type = "number";
            elm_form_check_input2.value = 3;
            elm_form_check_input2.setAttribute('id', "priority_val" + i);
            elm_form_check_input2.setAttribute('min', "1" + i);
            elm_form_check_input2.setAttribute('max', "3" + i);
            elm_form_check_input2.setAttribute('maxlength', "1" + i);
*/
            elm_rate_form = document.createElement("form");
            elm_rate_form.className = "rate-form col-2";
            elm_rate_form.setAttribute('id', "rate" + i);

            elm_rate_radio3 = document.createElement("input");
            elm_rate_radio3.setAttribute('id', "rate" + i + '-3');
            elm_rate_radio3.type = "radio";
            elm_rate_radio3.name = "rate";
            elm_rate_radio3.value = 3;
            elm_rate_radio3.setAttribute('checked', "checked");
            elm_rate_form.appendChild(elm_rate_radio3);
            elm_rate_label3 = document.createElement("label");
            elm_rate_label3.setAttribute('for', "rate" + i + '-3');
            elm_rate_label3.textContent = '♥';
            elm_rate_form.appendChild(elm_rate_label3);

            elm_rate_radio2 = document.createElement("input");
            elm_rate_radio2.setAttribute('id', "rate" + i + '-2');
            elm_rate_radio2.type = "radio";
            elm_rate_radio2.name = "rate";
            elm_rate_radio2.value = 2;
            elm_rate_form.appendChild(elm_rate_radio2);
            elm_rate_label2 = document.createElement("label");
            elm_rate_label2.setAttribute('for', "rate" + i + '-2');
            elm_rate_label2.textContent = '♥';
            elm_rate_form.appendChild(elm_rate_label2);

            elm_rate_radio1 = document.createElement("input");
            elm_rate_radio1.setAttribute('id', "rate" + i + '-1');
            elm_rate_radio1.type = "radio";
            elm_rate_radio1.name = "rate";
            elm_rate_radio1.value = 1;
            elm_rate_form.appendChild(elm_rate_radio1);
            elm_rate_label1 = document.createElement("label");
            elm_rate_label1.setAttribute('for', "rate" + i + '-1');
            elm_rate_label1.textContent = '♥';
            elm_rate_form.appendChild(elm_rate_label1);

            elm_form_check.appendChild(elm_form_check_check);
            elm_form_check.appendChild(elm_form_check_label);
            elm_div.appendChild(elm_form_check);
            if (_areas[i]["category"] == '観光地') {
              elm_areas1.appendChild(elm_div);
              elm_areas1.appendChild(elm_form_check_input1);
              elm_areas1.appendChild(elm_rate_form);
            } else if (_areas[i]["category"] == '鉄道の駅') {
              elm_areas2.appendChild(elm_div);
              elm_areas2.appendChild(elm_form_check_input1);
              elm_areas2.appendChild(elm_rate_form);
            } else if (_areas[i]["category"] == 'ホテル') {
              elm_areas3.appendChild(elm_div);
              elm_areas3.appendChild(elm_form_check_input1);
              elm_areas3.appendChild(elm_rate_form);
            }
          }
          // 到着地を設定
          for (var i = 0; i < _areas.length; i++) {
            if (_areas[i]["category"] == '鉄道の駅' || _areas[i]["category"] == 'ホテル') {
              elm_option = document.createElement("option");
              elm_option.textContent = _areas[i]["name"];
              elm_arrival.appendChild(elm_option);
            }
          }
        });

      // 到着期限を設定
      setEndTime();
    </script>
  </body>
</html>
